<div class="container" >
    <form class="form-horizontal" role="form" method="POST" action="/login" style="margin-top: 190px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center">Cotizaci&oacute;n Inteligente</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" ><i ></i></div>
                        <input [(ngModel)]="email" type="text" name="email" class="form-control" id="email" 
                               placeholder="Correo Electronico" required autofocus>
                               
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Contraseña</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"><i ></i></div>
                        <input [(ngModel)]="password" type="password" name="password" class="form-control" id="password"
                               placeholder="Contrase&ntilde;a" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                    <!-- Put password error message here -->    
                    </span>
                </div>
            </div>
        </div>
      
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-right">
                <button (click)="login()" type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Acceso</button>
              
            </div>
        </div>
    </form>
</div>
