<div class="container flex-fill">
   <div class="row justify-content-center">
      <div class="col">
         <div>
            <div class="row">
               <div class="col-12">
                  <h5 class="text-center">Cotización Inteligente</h5>
               </div>
            </div>
            <br>
            <hr class="mb-4 d-none d-sm-block">
            <div class="row">
               <div class="col-12  align-self-center">
                  <label class="text-justify">Buen dia {{detallesConfiguracion.usuario}} , actualmente tu seguro con
                     {{detallesConfiguracion.aseguradora}} cuesta:</label>
               </div>
               <br>
               <div class="col-12 ">
                  <p class="text-center lh-md"><span class="h6"
                        style="color: orange;">{{detallesConfiguracion.configuracion.aseguradora1.cobertura | currency: 'USD' | lowercase}}</span>
                  </p>
               </div>
            </div>
            <hr class="mb-4 d-none d-sm-block">
            <div class="row">


               <div class="col-12 align-self-center">
                  <label class="text-justify">&Eacute;se mismo seguro con las mismas coberturas, con nosotros te
                     costar&iacute;a:</label>
               </div>

               <div class="col-12 ">
                  <p class="text-center lh-md"><span class="h6"
                        style="color: seagreen;">{{detallesConfiguracion.configuracion.aseguradora2.cobertura | currency: 'USD' | lowercase}}</span>
                  </p>

               </div>
            </div>

            <hr class="mb-4 d-none d-sm-block">
            <div class="row">


               <div class="col-12  align-self-center">
                  <label class="text-justify">Nuestra recomendaci&oacute;n de seguro para tu
                     {{detallesConfiguracion.vehiculo}} :</label>
               </div>

               <div class="col-12 ">
                  <p class="text-center lh-md"><span class="h4"
                        style="color: seagreen; font-weight: bold">{{detallesConfiguracion.configuracion.aseguradora3.cobertura | currency: 'USD' | lowercase}}</span>
                  </p>

               </div>
            </div>
            <br>
            <hr class="mb-4 d-none d-sm-block">
            <div class="row">
               <div class="col-12  align-self-center">
                  <label class="text-justify">Estas son las coberturas basicas que debe tener un seguro de auto, lo
                     importante es comparar:</label>
               </div>
               <div class="col-12  align-self-le">
                  <ul>
                     <li><label>Deducible entre mas BAJO mejor</label></li>
                     <li><label>Suma asegurada entre mas ALTA
                           mejor</label></li>

                  </ul>

               </div>

            </div>
            <br>
            <div class="row">

               <hr class="mb-4 d-none d-sm-block">
               <div class="col-12 table-responsive-sm">
                  <table class="table table-sm table-bordered table-striped " style="font-size: 15px;">
                     <thead class="thead-light" style="color: #1F40B2;">
                        <tr>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Coberturas Basicas</small></th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">{{detallesConfiguracion.aseguradora}}</small>
                           </th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Recomendaci&oacute;n</small></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-left">Daños materiales</td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.daniosMateriales)">
                              {{detallesConfiguracion.configuracion.aseguradora2.daniosMateriales.valor}} %</td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.daniosMateriales)">
                              {{detallesConfiguracion.configuracion.aseguradora3.daniosMateriales.valor}} %</td>

                        </tr>
                        <tr>
                           <td class="text-left"><label>Robo total</label></td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboTotal)">
                              {{detallesConfiguracion.configuracion.aseguradora2.roboTotal.valor}} %</td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboTotal)">
                              {{detallesConfiguracion.configuracion.aseguradora3.roboTotal.valor}} %</td>

                        </tr>
                        <tr>
                           <td class="text-left"><label>Gastos m&eacute;dicos a ocupantes</label></td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes.valor | currency: 'USD' | lowercase}}
                           </td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes.valor | currency: 'USD' | lowercase}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left"><label>Responsabilidad civil a terceros</label>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros.valor | currency: 'USD' | lowercase}}
                           </td>
                           <td class="text-right"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros.valor | currency: 'USD' | lowercase}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Defensa legal </label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.defensaLegal)">
                              {{detallesConfiguracion.configuracion.aseguradora2.defensaLegal.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.defensaLegal)">
                              {{detallesConfiguracion.configuracion.aseguradora3.defensaLegal.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Asistencia vial </label> </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.asistenciaVial)">
                              {{detallesConfiguracion.configuracion.aseguradora2.asistenciaVial.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.asistenciaVial)">
                              {{detallesConfiguracion.configuracion.aseguradora3.asistenciaVial.valor}}</td>

                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <hr class="mb-4 d-none d-sm-block">
            <div class="row">
               <div class="col-12  align-self-center">
                  <label class="text-justify">Estas son coberturas adicionales indispensables que todo buen Seguro de
                     auto debe tener, lo importante es revisar que cuentes con ellas.</label>
               </div>

            </div>
            <br>
            <div class="row">

               <hr class="mb-4 d-none d-sm-block">
               <div class="col-12 table-responsive-sm">
                  <table class="table table-sm table-bordered table-striped " style="font-size: 15px;">
                     <thead class="thead-light" style="color: #1F40B2;">
                        <tr>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Coberturas Indispensables</small>
                           </th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">{{detallesConfiguracion.aseguradora}}</small>
                           </th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Recomendaci&oacute;n</small></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-left"> <label>No pago de deducible por p&eacute;rdidas parciales <img
                                    src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                                    data-toggle="tooltip" data-html="true"
                                    title="Si el daño es mayor a 40 UMA, no se paga el deducible. No aplica desastres naturales.">
                              </label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial)">
                              {{detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial)">
                              {{detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial.valor}}
                           </td>
                        </tr>
                        <tr>
                           <td class="text-left"><label>No pago de deducible por p&eacute;rdida total <img
                                    src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                                    data-toggle="tooltip" data-html="true"
                                    title="En caso de pe&aacute;rdida total, no se paga deducible."></label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal)">
                              {{detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal)">
                              {{detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil por
                                 fallecimiento <img src="../../../../assets/images.png"
                                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                                    title="Ampara fallecimiento de terceras personas."></label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil a ocupantes
                                 <img src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                                    data-toggle="tooltip" data-html="true"
                                    title="Ampara muerte de ocupantes que no sean familiar directo."></label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil EUA
                              </label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil
                                 remolques</label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil
                                 adaptaci&oacute;n y/o converci&oacute;n</label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Muerte accidental al conductor
                                 <img src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                                    data-toggle="tooltip" data-html="true"
                                    title="Seguro de vida por muerte accidental del conductor."></label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor)">
                              {{detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor)">
                              {{detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Auto sustituto</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.autoSustituto)">
                              {{detallesConfiguracion.configuracion.aseguradora2.autoSustituto.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.autoSustituto)">
                              {{detallesConfiguracion.configuracion.aseguradora3.autoSustituto.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Desbielamiento <img src="../../../../assets/images.png"
                                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                                    title="Ampara por penetraci&oacute;n de agua al motor, por inundaci&oacute;n."></label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.desbielamiento)">
                              {{detallesConfiguracion.configuracion.aseguradora2.desbielamiento.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.desbielamiento)">
                              {{detallesConfiguracion.configuracion.aseguradora3.desbielamiento.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Multas y corralones <img src="../../../../assets/images.png"
                                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                                    title="Rembolsa hasta 40 UMA una vez al año."></label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.multasCorralones)">
                              {{detallesConfiguracion.configuracion.aseguradora2.multasCorralones.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.multasCorralones)">
                              {{detallesConfiguracion.configuracion.aseguradora3.multasCorralones.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>&Uacute;ltimos gastos
                                 ocupantes</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes)">
                              {{detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Asistencia de servicios
                                 funerarios</label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios)">
                              {{detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios)">
                              {{detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios.valor}}
                           </td>

                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <hr class="mb-4 d-none d-sm-block">
            <div class="row">
               <div class="col-12  align-self-center">
                  <label class="text-justify">Las siguientes son coberturas Opcionales que puede contratar, la necesidad
                     surge de las características del vehículo, de la exposición a un riesgo y de su probabilidad que
                     suceda lo importante aquí es el analisis de riesgo de su caso.</label>
               </div>

            </div>
            <br>
            <div class="row">

               <hr class="mb-4 d-none d-sm-block">
               <div class="col-12 table-responsive-sm">
                  <table class="table table-sm table-bordered table-striped " style="font-size: 15px;">
                     <thead class="thead-light" style="color: #1F40B2;">
                        <tr>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Coberturas Opcionales</small></th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">{{detallesConfiguracion.aseguradora}}</small>
                           </th>
                           <th class="col-value bg-lighten-3 text-center" scope="col"><small
                                 class="text-raleway text-uppercase font-weight-bold"  style="color: #1F40B2;">Recomendaci&oacute;n</small></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-left">
                              <label>Adaptaci&oacute;n y/o
                                 conversiones</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones)">
                              {{detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones)">
                              {{detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Equipo especial</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.equipoEspecial)">
                              {{detallesConfiguracion.configuracion.aseguradora2.equipoEspecial.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.equipoEspecial)">
                              {{detallesConfiguracion.configuracion.aseguradora3.equipoEspecial.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Robo de contenidos</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboContenidos)">
                              {{detallesConfiguracion.configuracion.aseguradora2.roboContenidos.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboContenidos)">
                              {{detallesConfiguracion.configuracion.aseguradora3.roboContenidos.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Llantas y rines</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.llantasRines)">
                              {{detallesConfiguracion.configuracion.aseguradora2.llantasRines.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.llantasRines)">
                              {{detallesConfiguracion.configuracion.aseguradora3.llantasRines.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Robo parcial</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboParcial)">
                              {{detallesConfiguracion.configuracion.aseguradora2.roboParcial.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboParcial)">
                              {{detallesConfiguracion.configuracion.aseguradora3.roboParcial.valor}}</td>

                        </tr>

                        <tr>
                           <td class="text-left">
                              <label>Espejos y faros</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.espejosFaros)">
                              {{detallesConfiguracion.configuracion.aseguradora2.espejosFaros.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.espejosFaros)">
                              {{detallesConfiguracion.configuracion.aseguradora3.espejosFaros.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Reposici&oacute;n de
                                 llaves</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves)">
                              {{detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves)">
                              {{detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Auto mas nuevo</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo)">
                              {{detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo)">
                              {{detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo.valor}}</td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Reparaci&oacute;n en
                                 agencia</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia)">
                              {{detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia)">
                              {{detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia.valor}}</td>

                        </tr>

                        <tr>
                           <td class="text-left">
                              <label>Responsabilidad civil
                                 familiar</label>
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar)">
                              {{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar.valor}}
                           </td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar)">
                              {{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar.valor}}
                           </td>

                        </tr>
                        <tr>
                           <td class="text-left">
                              <label>Extensi&oacute;n de
                                 coberturas</label></td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas)">
                              {{detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas.valor}}</td>
                           <td class="text-center"
                              [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas)">
                              {{detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas.valor}}</td>

                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>



         </div>
      </div>
   </div>
</div>