<nav class="navbar navbar-expand-lg text-uppercase bg-secondary" id="mainNavBar">
    <div class="container">
        <a class="navbar-brand transition-all" routerLink="/">GAME STORE</a>
        <div>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!loguedUser" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded transition-all " routerLink="/login">Login</a>
                </li>
                <li *ngIf="loguedUser && loguedUser.Role === 'Admin'" class="nav-item mx-0 mx-lg-1">
                    <a href="javascript:void(0);" class="nav-link py-3 px-0 px-lg-3 rounded transition-all "
                        [routerLink]="['admin', loguedUser.Email]">Admin Section</a>
                    </li>
                <li *ngIf="loguedUser" class="nav-item mx-0 mx-lg-1"><a href="javascript:void(0);" (click)="logOut()"
                        class="nav-link py-3 px-0 px-lg-3 rounded transition-all " routerLink="/login">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
    <router-outlet (activate)="changeOfRoutes()"></router-outlet>
</div>
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h4 class="text-uppercase mb-4">Integra</h4>
            </div>
        </div>
    </div>
</footer>