$primary-color: #1abc9c;
$secondary-color: #2c3e50;
#mainNavBar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    a {
        color: #ffffff;
        :hover {
            color: $primary-color !important;
        }
    }
}

a:hover {
        color: $primary-color !important;
    
}

