$primary-color: #1abc9c;
$secondary-color: #2c3e50;

.main {
    min-height: 600px;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.transition-all {
    transition: all 0.5s ease;
}

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.page-link{
    color: $primary-color !important;
}