<div id="home-banner" class="bg-primary text-white text-center py-5">
    <div class="container d-flex align-items-center flex-column my-5">

        <h1 class="home-banner-heading text-uppercase mb-0">The best games</h1>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="masthead-subheading font-weight-light mb-0">Check our list</p>
    </div>
</div>
<div class="container my-5">
    <div class="alert alert-danger my-3" role="alert" *ngIf="messageError">
        {{messageError}}
    </div>
    <div class="row">
        <div class="col-sm">

            <div class="form-inline">
                <div class="form-group mr-3">
                    <input type="text"  class="form-control" placeholder="Search..." autocomplete="off"
                        [(ngModel)]="query" (keydown)="typingSearch($event)" (focus)="search()" ng-model-options="{ debounce: 500 }">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <select class="form-control" [(ngModel)]="filterItem" (change)="changeFilter($event)">
                <option>Chose a filter</option>
                <option *ngFor="let filter of filterList">{{filter}}</option>
            </select>
        </div>
    </div>
</div>
<div class="container text-center my-5">
    <div class="row">
        <div class="col-sm mb-3" *ngFor="let item of videoGamesList">
            <div class="card bg-primary" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">{{item.videoGameName}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    Calification: <b>{{item.calification}}</b>
                    Stock: <b>{{item.stock}}</b>
                    Price: <b>{{item.price}}</b>
                    Console: <b>{{item.consoleName}}</b>
                    Console: <b>{{item.regionName}}</b>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <nav aria-label="Page navigation mt-5">
                <ul class="pagination">
                    <li class="page-item"><button type="button" class="page-link"  (click) ="changePage(false)">Previous</button></li>
                    <li class="page-item"><button type="button" class="page-link">{{noPage}}</button></li>
                    <li class="page-item"><button type="button" class="page-link" (click) ="changePage(true)">Next</button></li>
                </ul>
            </nav>
        </div>
    </div>
</div>