<div class="container">
    <div class="row">

        <div class="col-md-6 form-group">
            <label>Nombre: </label>
            <input type="text" [(ngModel)]="detallesConfiguracion.usuario" class="form-control" />
        </div>


        <div class="col-md-6 form-group">
            <label>Veh&iacute;culo: </label>
            <input type="text" [(ngModel)]="detallesConfiguracion.vehiculo" class="form-control" />
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-3 form-group">
            <label> </label>

        </div>

        <div class="col-md-3 form-group">
            <label> <select  class="form-control" [(ngModel)]="detallesConfiguracion.aseguradora">
                <option [value]=-1  selected>Seleccione uno</option>                
                    <option *ngFor="let Aseguradora of Aseguradoras" [value]="Aseguradora.id" >{{Aseguradora.nombre}}</option>
                </select>
               
            </label>

        </div>
        <div class="col-md-3 form-group">
            <label>Tu seguro deberia de costar</label>

        </div>

        <div class="col-md-3 form-group">
            <label> Nuestra recomendaci&oacute;n </label>

        </div>
    </div>
    <div class="row">

        <div class="col-md-3 form-group">
            <label>Coberturas </label>

        </div>

        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora1.cobertura">
            </div>

        </div>

        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.cobertura">
            </div>
        </div>

        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.cobertura">
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-3 form-group">
            <label>Daños materiales </label>

        </div>

        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">

            <div class="custom-control custom-switch">
                <input type="checkbox" id="aseguradora2.daniosMateriales" class="custom-control-input"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.daniosMateriales.seleccionado"
                    (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora2.daniosMateriales)">
                <label class="custom-control-label" for="aseguradora2.daniosMateriales"></label>
            </div>

        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <input type="number" max="100" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora2.daniosMateriales.seleccionado"
                    (keyup)="preventInput($event,detallesConfiguracion.configuracion.aseguradora2.daniosMateriales)"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.daniosMateriales.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.daniosMateriales)" />
                <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                </div>
            </div>
        </div>
        

        <div class="col-md-1 form-group">

            <div class="custom-control custom-switch">
                <input type="checkbox" id="aseguradora3.daniosMateriales" class="custom-control-input"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.daniosMateriales.seleccionado"
                    (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora3.daniosMateriales)">
                <label class="custom-control-label" for="aseguradora3.daniosMateriales"></label>
            </div>

        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <input type="number" max="100" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora3.daniosMateriales.seleccionado"
                    (keyup)="preventInput($event,detallesConfiguracion.configuracion.aseguradora3.daniosMateriales)"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.daniosMateriales.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.daniosMateriales)" />
                <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>No pago de deducible por p&eacute;rdidas parciales <img src="../../../../assets/images.png"
                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                    title="Si el daño es mayor a 40 UMA, no se paga el deducible. No aplica desastres naturales.">
            </label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.noPagoDeduciblePerdidaParcial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial)">
                    <label class="custom-control-label" for="aseguradora2.noPagoDeduciblePerdidaParcial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial)">{{detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaParcial.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">

            <div class="custom-control custom-switch">
                <input type="checkbox" id="aseguradora3.noPagoDeduciblePerdidaParcial" class="custom-control-input"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial.seleccionado"
                    (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial)">
                <label class="custom-control-label" for="aseguradora3.noPagoDeduciblePerdidaParcial"></label>
            </div>

        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial)">{{detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaParcial.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>No pago de deducible por p&eacute;rdida total <img src="../../../../assets/images.png"
                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                    title="En caso de p&eacute;rdida total, no se paga deducible."></label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">

            <div class="custom-control custom-switch">
                <input type="checkbox" id="aseguradora2.noPagoDeduciblePerdidaTotal" class="custom-control-input"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal.seleccionado"
                    (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal)">
                <label class="custom-control-label" for="aseguradora2.noPagoDeduciblePerdidaTotal"></label>
            </div>

        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal)">{{detallesConfiguracion.configuracion.aseguradora2.noPagoDeduciblePerdidaTotal.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.noPagoDeduciblePerdidaTotal" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal)">
                    <label class="custom-control-label" for="aseguradora3.noPagoDeduciblePerdidaTotal"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal)">{{detallesConfiguracion.configuracion.aseguradora3.noPagoDeduciblePerdidaTotal.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Robo total</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="configuracion.aseguradora2.roboTotal" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.roboTotal.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora2.roboTotal)">
                    <label class="custom-control-label" for="configuracion.aseguradora2.roboTotal"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <input type="number" max="100" class="form-control" placeholder="0"
                    (keyup)="preventInput($event,detallesConfiguracion.configuracion.aseguradora2.roboTotal)"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora2.roboTotal.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.roboTotal.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboTotal)" />
                <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="configuracion.aseguradora3.roboTotal" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.roboTotal.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora3.roboTotal)">
                    <label class="custom-control-label" for="configuracion.aseguradora3.roboTotal"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <input type="number" class="form-control" placeholder="0"
                    (keyup)="preventInput($event,detallesConfiguracion.configuracion.aseguradora3.roboTotal)"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora3.roboTotal.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.roboTotal.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboTotal)" />
                <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil a terceros</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilTerceros" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilTerceros"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilTerceros)" />
            </div>

        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilTerceros" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilTerceros"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilTerceros)" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Gastos m&eacute;dicos a ocupantes</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.gastosMedicosOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes)">
                    <label class="custom-control-label" for="aseguradora2.gastosMedicosOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.gastosMedicosOcupantes)" />
            </div>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.gastosMedicosOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes.seleccionado"
                        (change)="eventNumber($event.target,detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes)">
                    <label class="custom-control-label" for="aseguradora3.gastosMedicosOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" placeholder="0"
                    [disabled]="!detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes.seleccionado"
                    [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes.valor"
                    [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.gastosMedicosOcupantes)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Asistencia vial</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.asistenciaVial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.asistenciaVial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.asistenciaVial)">
                    <label class="custom-control-label" for="aseguradora2.asistenciaVial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.asistenciaVial)">{{detallesConfiguracion.configuracion.aseguradora2.asistenciaVial.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.asistenciaVial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.asistenciaVial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.asistenciaVial)">
                    <label class="custom-control-label" for="aseguradora3.asistenciaVial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.asistenciaVial)">{{detallesConfiguracion.configuracion.aseguradora3.asistenciaVial.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Defensa legal</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.defensaLegal" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.defensaLegal.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.defensaLegal)">
                    <label class="custom-control-label" for="aseguradora2.defensaLegal"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.defensaLegal)">{{detallesConfiguracion.configuracion.aseguradora2.defensaLegal.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.defensaLegal" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.defensaLegal.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.defensaLegal)">
                    <label class="custom-control-label" for="aseguradora3.defensaLegal"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.defensaLegal)">{{detallesConfiguracion.configuracion.aseguradora3.defensaLegal.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil por fallecimiento <img src="../../../../assets/images.png"
                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                    title="Ampara fallecimiento de terceras personas."></label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilFallecimiento"
                        class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilFallecimiento"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFallecimiento.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilFallecimiento"
                        class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilFallecimiento"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFallecimiento.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil EUA</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilEUA" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilEUA"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilEUA.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilEUA" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilEUA"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilEUA.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil a ocupantes <img src="../../../../assets/images.png"
                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                    title="Ampara muerte de ocupantes que no sean familiar directo."></label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilOcupantes.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilOcupantes.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Muerte accidental al conductor <img src="../../../../assets/images.png"
                    style="width: 30px;height: 19px;" data-toggle="tooltip" data-html="true"
                    title="Seguro de vida por muerte accidental del conductor."></label>
        </div>
        <div class="col-md-1 "></div>        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.muerteAccidentaConductor" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor)">
                    <label class="custom-control-label" for="aseguradora2.muerteAccidentaConductor"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor)">{{detallesConfiguracion.configuracion.aseguradora2.muerteAccidentaConductor.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.muerteAccidentaConductor" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor)">
                    <label class="custom-control-label" for="aseguradora3.muerteAccidentaConductor"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor)">{{detallesConfiguracion.configuracion.aseguradora3.muerteAccidentaConductor.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Auto sustituto</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.autoSustituto" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.autoSustituto.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.autoSustituto)">
                    <label class="custom-control-label" for="aseguradora2.autoSustituto"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.autoSustituto)">{{detallesConfiguracion.configuracion.aseguradora2.autoSustituto.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.autoSustituto" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.autoSustituto.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.autoSustituto)">
                    <label class="custom-control-label" for="aseguradora3.autoSustituto"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.autoSustituto)">{{detallesConfiguracion.configuracion.aseguradora3.autoSustituto.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>&Uacute;ltimos gastos ocupantes</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.ultimosGastosOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes)">
                    <label class="custom-control-label" for="aseguradora2.ultimosGastosOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes)">{{detallesConfiguracion.configuracion.aseguradora2.ultimosGastosOcupantes.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.ultimosGastosOcupantes" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes)">
                    <label class="custom-control-label" for="aseguradora3.ultimosGastosOcupantes"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes)">{{detallesConfiguracion.configuracion.aseguradora3.ultimosGastosOcupantes.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Extensi&oacute;n de coberturas</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.extensionCoberturas" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas)">
                    <label class="custom-control-label" for="aseguradora2.extensionCoberturas"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas)">{{detallesConfiguracion.configuracion.aseguradora2.extensionCoberturas.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.extensionCoberturas" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas)">
                    <label class="custom-control-label" for="aseguradora3.extensionCoberturas"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas)">{{detallesConfiguracion.configuracion.aseguradora3.extensionCoberturas.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Llantas y rines</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.llantasRines" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.llantasRines.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.llantasRines)">
                    <label class="custom-control-label" for="aseguradora2.llantasRines"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.llantasRines)">{{detallesConfiguracion.configuracion.aseguradora2.llantasRines.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.llantasRines" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.llantasRines.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.llantasRines)">
                    <label class="custom-control-label" for="aseguradora3.llantasRines"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.llantasRines)">{{detallesConfiguracion.configuracion.aseguradora3.llantasRines.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Robo parcial</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="configuracion.aseguradora2.roboParcial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.roboParcial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.roboParcial)">
                    <label class="custom-control-label" for="configuracion.aseguradora2.roboParcial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboParcial)">{{detallesConfiguracion.configuracion.aseguradora2.roboParcial.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="configuracion.aseguradora3.roboParcial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.roboParcial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.roboParcial)">
                    <label class="custom-control-label" for="configuracion.aseguradora3.roboParcial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboParcial)">{{detallesConfiguracion.configuracion.aseguradora3.roboParcial.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Espejos y faros</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.espejosFaros" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.espejosFaros.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.espejosFaros)">
                    <label class="custom-control-label" for="aseguradora2.espejosFaros"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.espejosFaros)">{{detallesConfiguracion.configuracion.aseguradora2.espejosFaros.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.espejosFaros" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.espejosFaros.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.espejosFaros)">
                    <label class="custom-control-label" for="aseguradora3.espejosFaros"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.espejosFaros)">{{detallesConfiguracion.configuracion.aseguradora3.espejosFaros.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Multas y corralones <img src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                    data-toggle="tooltip" data-html="true" title="Rembolsa hasta 40 UMA una vez al año."></label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.multasCorralones" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.multasCorralones.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.multasCorralones)">
                    <label class="custom-control-label" for="aseguradora2.multasCorralones"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.multasCorralones)">{{detallesConfiguracion.configuracion.aseguradora2.multasCorralones.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.multasCorralones" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.multasCorralones.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.multasCorralones)">
                    <label class="custom-control-label" for="aseguradora3.multasCorralones"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.multasCorralones)">{{detallesConfiguracion.configuracion.aseguradora3.multasCorralones.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Desbielamiento <img src="../../../../assets/images.png" style="width: 30px;height: 19px;"
                    data-toggle="tooltip" data-html="true"
                    title="Ampara por penetraci&oacute;n de agua al motor, por inundaci&oacute;n."></label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.desbielamiento" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.desbielamiento.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.desbielamiento)">
                    <label class="custom-control-label" for="aseguradora2.desbielamiento"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.desbielamiento)">{{detallesConfiguracion.configuracion.aseguradora2.desbielamiento.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.desbielamiento" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.desbielamiento.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.desbielamiento)">
                    <label class="custom-control-label" for="aseguradora3.desbielamiento"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.desbielamiento)">{{detallesConfiguracion.configuracion.aseguradora3.desbielamiento.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Reparaci&oacute;n en agencia</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.reparacionAgencia" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia)">
                    <label class="custom-control-label" for="aseguradora2.reparacionAgencia"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia)">{{detallesConfiguracion.configuracion.aseguradora2.reparacionAgencia.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.reparacionAgencia" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia)">
                    <label class="custom-control-label" for="aseguradora3.reparacionAgencia"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia)">{{detallesConfiguracion.configuracion.aseguradora3.reparacionAgencia.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Asistencia de servicios funerarios</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.asistenciaServiciosFunerarios" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios)">
                    <label class="custom-control-label" for="aseguradora2.asistenciaServiciosFunerarios"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios)">{{detallesConfiguracion.configuracion.aseguradora2.asistenciaServiciosFunerarios.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.asistenciaServiciosFunerarios" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios)">
                    <label class="custom-control-label" for="aseguradora3.asistenciaServiciosFunerarios"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios)">{{detallesConfiguracion.configuracion.aseguradora3.asistenciaServiciosFunerarios.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Reposisci&oacute;n de llaves</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.reposiscionLlaves" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves)">
                    <label class="custom-control-label" for="aseguradora2.reposiscionLlaves"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves)">{{detallesConfiguracion.configuracion.aseguradora2.reposiscionLlaves.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.reposiscionLlaves" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves)">
                    <label class="custom-control-label" for="aseguradora3.reposiscionLlaves"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves)">{{detallesConfiguracion.configuracion.aseguradora3.reposiscionLlaves.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Auto mas nuevo</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.autoMasNuevo" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo)">
                    <label class="custom-control-label" for="aseguradora2.autoMasNuevo"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo)">{{detallesConfiguracion.configuracion.aseguradora2.autoMasNuevo.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.autoMasNuevo" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo)">
                    <label class="custom-control-label" for="aseguradora3.autoMasNuevo"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo)">{{detallesConfiguracion.configuracion.aseguradora3.autoMasNuevo.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil familiar</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilFamiliar" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilFamiliar"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilFamiliar.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilFamiliar" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilFamiliar"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilFamiliar.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Robo de contenidos</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.roboContenidos" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.roboContenidos.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.roboContenidos)">
                    <label class="custom-control-label" for="aseguradora2.roboContenidos"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.roboContenidos)">{{detallesConfiguracion.configuracion.aseguradora2.roboContenidos.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.roboContenidos" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.roboContenidos.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.roboContenidos)">
                    <label class="custom-control-label" for="aseguradora3.roboContenidos"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.roboContenidos)">{{detallesConfiguracion.configuracion.aseguradora3.roboContenidos.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Equipo especial</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.equipoEspecial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.equipoEspecial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.equipoEspecial)">
                    <label class="custom-control-label" for="aseguradora2.equipoEspecial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.equipoEspecial)">{{detallesConfiguracion.configuracion.aseguradora2.equipoEspecial.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.equipoEspecial" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.equipoEspecial.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.equipoEspecial)">
                    <label class="custom-control-label" for="aseguradora3.equipoEspecial"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.equipoEspecial)">{{detallesConfiguracion.configuracion.aseguradora3.equipoEspecial.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil remolques</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilRemolques" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilRemolques"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilRemolques.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilRemolques" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilRemolques"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilRemolques.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Adaptaci&oacute;n y/o conversiones</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.adaptacionConversiones" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones)">
                    <label class="custom-control-label" for="aseguradora2.adaptacionConversiones"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones)">{{detallesConfiguracion.configuracion.aseguradora2.adaptacionConversiones.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.adaptacionConversiones" class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones)">
                    <label class="custom-control-label" for="aseguradora3.adaptacionConversiones"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones)">{{detallesConfiguracion.configuracion.aseguradora3.adaptacionConversiones.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Responsabilidad civil adaptaci&oacute;n y/o conver</label>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora2.responsabilidadCivilAdaptacionConver"
                        class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver)">
                    <label class="custom-control-label" for="aseguradora2.responsabilidadCivilAdaptacionConver"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver)">{{detallesConfiguracion.configuracion.aseguradora2.responsabilidadCivilAdaptacionConver.valor}}</label>
        </div>
        
        <div class="col-md-1 form-group">
            <label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="aseguradora3.responsabilidadCivilAdaptacionConver"
                        class="custom-control-input"
                        [(ngModel)]="detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver.seleccionado"
                        (change)="eventCheck($event.target,detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver)">
                    <label class="custom-control-label" for="aseguradora3.responsabilidadCivilAdaptacionConver"></label>
                </div>
            </label>
        </div>
        <div class="col-md-3 form-group">
            <label
                [ngClass]="getColor(detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver)">{{detallesConfiguracion.configuracion.aseguradora3.responsabilidadCivilAdaptacionConver.valor}}</label>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12 text-right" style="margin-bottom: 15px">
            <button type="button" style="position: relative; right: 46px" class="btn btn-success" (click)="guardar()">
                Guardar</button>
        </div>
    </div>
</div>