<div class="container">
  <div class="row"  style="float: right;padding-bottom: 10px;padding-right: 12px;">
    <div>
      <button type="button" class="btn btn-success" routerLink="/agregarConfiguracion"> Nueva  Cotizaci&oacute;n</button>
    </div>
  </div>
<div class="table-responsive">
<table class="table table-striped" mdbTable>
    <thead>
      <tr>
        <th>Fecha Creaci&oacute;n </th>
        <th>Nombre </th>
        <th>Veh&iacute;culo</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of configuraciones | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{el.fechaCreacion| date:'dd-MM-yyyy'}}</td>
        <td>{{el.nombreCliente}}</td>
        <td>{{el.vehiculo}}</td>
        <td colspan="2">
          <button type="button" class="btn btn-primary" style="margin: 5px;" (click)="verDetalles(el.id)"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-success" style="margin: 5px;"(click)="copy(el.id)"><i class="fa fa-clipboard"></i></button>
         
        </td>
       
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
