<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" >
    <a class="navbar-brand" routerLink="/"><img style=" width: 101px;" src="../../../assets/Image20200723105930.png"></a>
  
  
    
    
      <ul class="navbar-nav ml-auto">
      
      
        
        <li class="nav-item" *ngIf="!isLogged">
          <!--<a class="nav-link" routerLink="/login">Login
          </a>-->
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a href="#" class="nav-link" (click)="onLogout()"><img style=" width: 35px;" src="../../../assets/Image20200729125735.png">
          </a>
        </li>
      </ul>
   
  </nav>


